<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot local" type="GradleRunConfiguration" factoryName="Gradle">
    <ExternalSystemSettings>
      <option name="executionName" />
      <option name="externalProjectPath" value="$PROJECT_DIR$" />
      <option name="externalSystemIdString" value="GRADLE" />
      <option name="scriptParameters" value="" />
      <option name="taskDescriptions">
        <list />
      </option>
      <option name="taskNames">
        <list>
          <option value="bootRun" />
        </list>
      </option>
      <option name="vmOptions" />
    </ExternalSystemSettings>
    <GradleScriptDebugEnabled>false</GradleScriptDebugEnabled>
    <envs>
      <env name="SPRING_CONFIG_ADDITIONAL_LOCATION" value="file:./gitops/base/" />
      <env name="SPRING_PROFILES_ACTIVE" value="local" />
    </envs>
    <method v="2" />
  </configuration>
</component>
